/* App.css */


body {
    margin: 0;
    padding: 0;
    background-image: url("../src/images/body.png");
    background-repeat: repeat;
    background-position: center;
    background-size: auto; /* Prevents stretching */
    
}
.app-container {
    padding: 20px;
    
}

.navigation-container {
    margin-bottom: 20px;
    align-self:center;
}

.flower-grid-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.season-chart-container {
    display: flex;
    justify-content: center;
}
