/* App.css */

body {
    margin: 0;
    padding: 0;
    background-color:#d5a2d7;
   
}

.app-container {
    width: 100%; /* Ensure the container fills the entire width */
    padding: 0; /* Reset padding */
    margin: 0; /* Reset margin */
}

.navigation-container {
    margin-bottom: 20px;
    align-self: center;
    width: 100%;
}

.flower-grid-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.season-chart-container {
    display: flex;
    justify-content: center;
}
