.season-chart-container {
    text-align: center;
    margin-top: 20px;
}

    .season-chart-container h2 {
        font-family: 'Lexend Deca', sans-serif;
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

.season-chart {
    max-width: 500px;
    margin: 0 auto;
}
