/* NavigationBar.css */

.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #c8a2c8; /* Lilac color */
    color: #fff;
    width: 100%; /* Set width to 100% */
}

    .navigation-bar h1 {
        margin: 0;
        font-size: 24px; /* Smaller font size */
       
    }

    .navigation-bar button {
        padding: 8px 16px;
        background-color: #c8a2c8; /* Lilac color */
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .navigation-bar button:hover {
            background-color: #a883a8; /* Darker lilac color on hover */
        }
